# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# VS Code
.vscode/

# Databricks
.databricks/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Spark
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# Temporary files
tmp/
temp/